@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap');
@import './helpers/colors';
@import './helpers/animations';
@import './helpers/theme';

code {
  color: $brown;
}

pre code {
  color: $green;

  &.language-scss {
    color: $plum;
  }

  &.language-html {
    color: $blue;
  }

  &.language-js {
    color: $red;
  }
}

.nav-link,
.is-logo {
  font-family: 'Monaco';
}

.is-loading {
  height: 100vh;
}

.monaco {
  font-family: 'Monaco';
}

@media (max-width: 768px) {
  .is-logo {
    padding-top: 8px;
    padding-right: 20px;
  }
}

button .is-link {
  color: $light;
  text-decoration: none;
}

.main-content {
  font-family: 'Poppins', sans-serif;
}

.no-decoration {
  text-decoration: none;
}

.to-top {
  color: $green;

  &:hover {
    color: $slate;
    font-weight: bold;
    transition: font-weight 1s, color 2s;
  }
}

.is-link {
  color: $green;
  text-decoration: none;
}

.is-headline {
  font-family: 'Monaco', sans-serif;
}

.is-svg {
  width: 32px !important;
  height: 32px !important;
}

.is-template-icon {
  width: 28px !important;
  height: 28px !important;
  padding-right: 4px;
}

.stretch {
  align-items: stretch;
}

.ex-gap {
  padding-left: 60px;
}

.skill-icon {
  width: 24px !important;
  height: 24px !important;
}

@media (max-width: 781px) {
  .ex-gap {
    padding: 0 0 20px 20px;
  }
}

.is-typed {
  font-family: 'Monaco';
  span.typed {
    color: $slate;
  }

  span.cursor {
    display: inline-block;
    width: 4px;
    background-color: $dark;
    animation: blink 1s infinite;
  }

  span.cursor.typing {
    animation: none;
  }
}

.has-shadow {
  border: 1px solid #0808039f;
  padding: 8px;
  box-shadow: 2px 4px #0808039f;
}

.wave {
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 262px;
}

.wave .shape-fill {
  fill: hsla(110, 87%, 49%, 0.645);
}
