$dark: #2c2c2c;
$light: #f5f1f1;
$green: #467555;
$slate: #465375;
$lime: #23df71;
$plum: #5f415f;
$brown: #962525;
$cyan: #20c4c4;
$orange: #faac38;
$pink: #ffc0cb;
$blue: #1c2f97;
$red: #db3232;
$ocean: #10b7eaa4;