@import './mixins';
.dark {
  background-color: $dark;
  color: $light;

  .is-loading {
    height: 70vh;
  }
  .wave .shape-fill {
    fill: hsla(194, 87%, 49%, 0.645);
  }

  code {
    color: $cyan;
  }

  #article a {
    color: $lime !important;
  }

  pre code {
    color: $lime;

    &.language-scss {
      color: $pink;
    }

    &.language-html {
      color: $orange;
    }

    &.language-js {
      color: $lime;
    }
  }


  .btn-info {
    @include change-color($plum)
  }

  .btn-secondary {
    @include change-color($brown)
  }

  .btn-dark {
    @include change-color($slate)
  }

  .btn-primary {
    @include change-color($green);
    a {
      color: $light !important;
    }
  }

  .icon-square {
    background-color: $dark !important;
  }

  .bg-dark {
    background-color: $light !important;
    color: $dark !important;
  }

  .is-article-heading {
    background-color: $green !important;
    color: $light !important;
  }

  .bg-light {
    background-color: $dark !important;
  }

  .text-dark {
    color: $light !important;
  }

  .card-text {
    color: $light !important;
  }

  .is-template-card p.card-text {
    color: $dark !important;
  }

  .nav-link {
    color: $lime;

    &:hover {
      color: $green;
    }
  }

  span.cursor {
    background-color: $light !important;
  }
}
